.container{
    background-color: rgb(59, 59, 59);
    color: white;
    width:700px;
    height: auto ;
    padding: 50px;
    margin-left:270px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.images img{
    width: 350px;
    height: 350px;
}
.images p{
    text-wrap:wrap;  
}